body{
	margin:0 auto;
	background-color:#040b17;
}
/*Свойства верхней панели сайта*/
header{
	background-color:#06000C;
	display:flex;
	justify-content: space-between;
	width:100%;
}
h1{
	margin-top:7%;
}
/*Свойства лого компании*/
.logo{
	display:flex; /*Расположение элменета во всю ширину шапки*/
}
/*Свойства картинки телефона и номера телефона*/
.logo2{
	display:flex;
	align-items:center; /*Центрирование по поперечной оси*/
	margin-right:20px; /*Внешняя рамка справа*/
}
/*Свойства картинки с телефоном*/
.logo-img2{
	margin-right:25px; /*Внешняя рамка справа*/
}
/*Свойства номера телефона*/
.logo-title{
	font-family:helvetica;
	color:white;
	font-weight:bolder;
}
/*Свойства кнопки переключения тем без курсора и с ним*/
.theme-button{
	position:absolute;
	right:5px; /*Отступ от правого блока*/
	top:5px; /*Отступ от верха*/
	display:inline-block; /*Обтекание вокруг кнопки*/
	cursor:pointer; /*Вид курсора при наведении*/
	color:white;
	font-family:trebuchet ms;
	background:#4e4e4e;
	padding:10px 25px; /*Внутренние отступы*/
	border-radius:25px; /*Края рамки*/
}
/*Смена цвета кнопки при наведении курсора*/
.theme-button:hover{
	background:#c8c8c8; 
}
/*Свойства хотбара с разделами сайта*/
.head2{
	background-color:#2ddd9c;
	display:flex; /*Расположение элменета во всю ширину шапки*/
	justify-content: space-between; /*РАвномерное расположение флекс-элементов по всей ширине*/
	margin-bottom:25px; /*Отступ снизу*/
	width:auto; /*Ширина автоматически задаётся шириной окна*/
	padding-left:10%; /*Внутренний отступ слева*/
	padding-right:10%; /*Внутренний отступ справа*/
	height:32px;
	vertical-align:middle; /*Вертикальное выравнивание по центру*/
}
/*Свойства якорей*/
.jakor{
	color:#1f815b;
	text-decoration:none; /*Нед подчёркиваний*/
	font-family:trebuchet ms;
	font-size:24px;
}
/*Свойства блоков слайдера*/
.carousel-wrapper{
	height:75px;
	position:relative; /*Изменение положение элементов в зависимости относительно исходного места*/
	margin:0 auto; /*Внешние отступы*/
	border:solid 0px; /*Нет рамки*/
	margin-bottom:100px;
	width:90%; /*Ширина равна 90% от ширины всего сайта*/
}
/*Свойства содержания блоков слайдера*/
.carousel-item{
	position:absolute;
	opacity:0;
	transition:all 0.5s ease-in-out;
	margin:0 auto;
	vertical-align:middle; /*Вертикальное выравнивание по центру*/
	margin-left:auto;
	margin-right:auto;
	width:100%; /*Ширина элементов слайдера равна 100% от ширины самого слайдера*/
}
/*Свойства стрелок*/
.arrow{
	border:solid black;
	border-width:0 3px 3px 0;
	display:inline-block;
	padding:12px;
	border:solid #2a455e;
}
.arrow-prev{
	left:-30px;
	position:absolute;
	top:50%;
	transform:translateY(-50%) rotate(135deg);
}
.arrow-next{
	right:-30px;
	position:absolute;
	top:50%;
	transform:translateY(-50%) rotate(-45deg);
}
/*Я хз*/
[id^="item"]{
    display: none;
}
.item-1{
    z-index: 2;
    opacity: 1;
}
*:target ~ .item-1{
    opacity: 0;
}
#item-1:target ~ .item-1{
    opacity: 1;
}
#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4{
    z-index: 3;
    opacity: 1;
}
/*Свойства текста в слайдере*/
.car-text{
	font-size:28px;
	text-align:center;
	font-family:helvetica;
	font-weight:bolder;
	color:#2a455e;
}
/*Свойства блоков с фото техники и её описанием*/
.wrapper{
	margin:0 auto;
	margin-bottom:50px;
	display:flex;
	width:95%;
}
/*Свойства изображений*/
.content{
	float:left; 
	margin-right:0px;
	margin-left:50px;
	align-items:center;
}
/*Свойства блока с текстом*/
.sidebar{
	float:left; /*Обтекание с левой стороны*/
}
/*Свойства текста в блоках*/
.p{
	font-size:25px;
	display:flex; /*Расположение текста по всей ширине блока*/
	align-items:center; 
	text-align:left; /*Выравнивание по левому краю*/
	width:95%;
	float:right; /*Обтекание по правой стороне*/
	font-family:helvetica;
	color:#2a455e;
}
.h2{
	font-size:27px;
	display:flex; /*Расположение текста по всей ширине блока*/
	align-items:center; 
	text-align:left; /*Выравнивание по левому краю*/
	width:95%;
	float:right; /*Обтекание по правой стороне*/
	font-family:helvetica;
	color:#2a455e;
}
/*"О нас"*/
.per{
	width:90%;
	font-size:28px;
	font-family:trebuchet ms;
	margin-top:-0.5%;
	color:#2a455e;
}
/*консультанты*/
.table{
	margin-top:7%;
	margin-bottom:5%;
}
/*Свойство блока с полем подписки*/
.cont{
	padding:16px;
}
/*Оформление полей ввода*/
input[type=text]{
	width:450px;
	padding:15px;
	margin:5px 0 22px 0;
	display:inline-block;
	border:none;
	background:#f1f1f1;
}
/*Оформление полей ввода (с курсором)*/
input[type=text]:focus{
	background-color:#ddd;
	outline:none; /*Нет обводки при вводе в поле*/
}
.ad{
	border-radius:27%; /*Рамка изображений брендов*/
}
/*Оформление кнопки подписки*/
.subscribe{
	border:none; /*Нет рамки объекта*/
	cursor:pointer; /*Изменение иконки курсора*/
	width:auto; /*Ширина кнопки равна ширине изображения*/
	background-color:transparent; /*Нет цвета кнопки*/
}
/*Задаю тексту шрифт отдельным псевдоклассом, потому что могу*/
.trms{
	font-family:trebuchet ms;
	color:#2a455e;
}
/*Тоже самое, но жирнее*/
.trms2{
	font-family:trebuchet ms;
	font-weight:bolder;
	color:#2a455e;
}
/*Ладно, для товаров отдельно*/
.toivo{
	font-family:trebuchet ms;
}
.toivo2{
	font-family:trebuchet ms;
	font-weight:bolder;
}
/*свойства кнопки "вверх"*/
.topbtn{
	display:block; /*Кнопка - отдельный блок*/
	position:fixed; /*Кнопка зафиксирована в одном положении*/
	right:1%; /*Отступ от правого блока*/
	bottom:3%; /*Отступ от низа*/
	z-index:99999; /*Кнопка находится выше остального сайта*/
}