h1{
	text-align:center;
}
.container{
	width:90%;
	margin:0 auto;
}
input[type="radio"]{
    display:none;
}
/*Свойства фильтров*/
label{
	width:23%;
	float:left;
	text-align:center;
	background:#ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color:#222222;
	padding:0.5%;
	margin:0.5%;
	margin-bottom:30px;
	cursor:pointer;
	font-family:trebuchet ms;
}
/*при нажатии кнопок фильтра блоки с ненужными товарами исчезают, сжавшись и изменивь прозрачность до нуля*/
input[type="radio"][id="gyro"]:checked + label{
	background:#5B85E0;
}
input[type="radio"][id="gyro"]:checked ~ .elsam, input[type="radio"][id="gyro"]:checked ~ .seeg{
	width:0;
	padding:0;
	margin:0;
	opacity:0;
}
input[type="radio"][id="elsam"]:checked + label {
	background:#E05350;
}
input[type="radio"][id="elsam"]:checked ~ .gyro, input[type="radio"][id="elsam"]:checked ~ .seeg{
	width:0;
	padding:0;
	margin:0;
	opacity:0;
}
input[type="radio"][id="seeg"]:checked + label{
	background:#E0E050;
}
input[type="radio"][id="seeg"]:checked ~ .gyro, input[type="radio"][id="seeg"]:checked ~ .elsam{
	width:0;
	padding:0;
	margin:0;
	opacity:0;
}
/*Свойства ячеек с товарами*/
.tile{
	width:12,5%;
	height:300px;
	float:left;
	transition:all 1s;
	margin:0.5%;
	padding:0.5%;
}
.seeg{
	background:#E0E050;
}
.gyro{
	background:#5B85E0;
}
.elsam{
	background:#E05350;
}